
/* ---------------------- NAVBAR STARTED -------------------------*/
/* 
li{
    list-style: none;
    display: inline-block;
}

li a{
    color: #ffff;
    font-size: 18px;
    margin-left: 30px;
}

a{
    text-decoration: none;
}

.navbar{
    padding-right: 15px;
    padding-left: 15px;
}

.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar-logo{
    margin: 20px;
}

button{
    color: #ffff;
}

.logo{
    width: 165px;

} */













/* ---------------------- NAVBAR ENDED -------------------------*/






