/* ---------------------- NAVBAR STARTED -------------------------*/


.logo-img{
    width: 165px;
}

.nav-item{
    font-size: 2rem;
}

.navbar{
    padding: 15px;
}

.franchise-btn{
    background-color: transparent;
    border: 1px solid #ffff;
    padding: 20px 25px;
    border-radius: 30px;
    font-size: 1.5rem;

}

.order-btn{
    background-color: #ed1c24;
    border: none;
    padding: 20px 25px;
    border-radius: 30px;
    font-size: 1.5rem;

}

.circle-btn{
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 30px;
    color: #ed1c24;
}

.arrow-icon{
    font-size: 1.8rem;
}




/* ---------------------- NAVBAR ENDED -------------------------*/






