*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--black);
    color: #ffff;
}

:root{
    --red: #ed1c24;
    --white: #ffff;
    --black: #0000;  
    --green: #28a745;
}

.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.bg-red{
    background-color: red;
}

