*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--black);
    color: var(--white);
}

:root{
    --red: #ed1c24;
    --white: white;
    --black: black;  
    --green: #28a745;
}
/* 
@font-face {
    font-family: "apercu light";
    src: url(../Apercu\ Font\ Family/);
} */


.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.bg-red{
    background-color: var(--red);
}

